<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center"><strong>Home</strong></h2>
      <hr>
        <%= image_tag "intro-pic.jpg", alt: "rss feed", class: "img-responsive img-border img-left" %>
      <hr class="visible-xs">
      <p>This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.</p>
      <div class="row">
        <div class="col-md-7 col-md-offset-5">
          <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary button-sign" %>
        </div>
      </div>
    </div>
  </div>
</div>